{
	"presets" : ["latest", "react"],
	"env"     : {
		"development" : {
			"plugins" : [
				"transform-object-rest-spread",
				["react-transform", {
					"transforms" : [{
						"transform" : "livereactload/babel-transform",
						"imports"   : ["react"]
					}]
				}]
			]
		}
	}
}
